<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <style>
        input{
            margin:20px;
        }
    </style>
</head>
<body>
<form method="post" action="/admin">
    college full name
    <input name="name" type="text" placeholder="college full name "><br>
    college short name
    <input name="shortName" type="text" placeholder="college short name"><br>
    <input type="submit" value="submit">
</form>

</body>
</html>