<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <style>
        input{
            margin:20px;
        }
    </style>
</head>
<body>
<form method="post" action="/api_v1/createPoll">
    college name:
    <select>
        <option name="college" value="dtu">DelhiTechUniv</option>
    </select><br>
    # of student to vote
    <input name="toVote" type="number" placeholder="no of students to vote"><br>
    roll no. range to be allowed to vote<br>
    <input name="startingroll" type="number" placeholder="starting rollno.">
    <input name="endingroll" type="number" placeholder="ending rollno."><br>
    unique class id here
    <input name="classid" type="text" placeholder="unique class id here"><br>
    no of hours form will be open
    <input name="validtime" type="number" placeholder="how long will form remain valid"><br>
    # of CR's <input name="totalcr" type="number" placeholder="number of CRs"><br>
    <input type="submit" value="submit">
</form>

</body>
</html>