<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <style>
        input,select{
            margin:20px;
        }
    </style>
</head>
<body>
<form method="post" action="/api_v1/createPoll">
    college name:
    <select name="collegeShortName">
        <option value="DTU">DelhiTechUniv (DTU)</option>
    </select><br>
    roll no. range to be allowed to vote<br>
    <input name="startingRoll" type="number" placeholder="starting rollno.">
    <input name="endingRoll" type="number" placeholder="ending rollno."><br>
    unique class id here
    <input name="classId" type="text" placeholder="unique class id here"><br>
    no of hours form will be open
    <input name="validTime" type="number" placeholder="how long will form remain valid"><br>
    # of CR's <input name="totalCandidates" type="number" placeholder="number of CRs"><br>
    <input type="submit" value="submit">
</form>

</body>
</html>